<div>
  <h3>Bienvenido {{user}}</h3>
  <p><b>Rol:</b> {{role}}</p>
<h4>Esta es la información de usuario:</h4>
  <p>Edad: {{age}}</p>
  <p>Email: {{email}}</p>


<a href="/users/generateCart"><button> Generar un carrito </button></a>
   
  <button  id="botonLogout" type="submit">LOGOUT</button>


</div>

<script src="/js/profile.js"></script>